body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #333;
}

table {
    border-collapse: collapse;
}

p, h4 {
    font-size: 20px;
    margin-bottom: 0;
}

h4 {
    font-size: 14px;
}

ul, ol {
    margin: 0;
}

table tr td {
    padding: 5px;
}

table {
    width: 100%;
}

img {
    height: 30px;
    widt	
	h: auto;
}

table {
    border: 2px solid #333;
    border-collapse: collapse;
}

table tr td, table th {
    border: 1px solid #333;
    padding: 5px;
}

h4 {
    font-size: 18px;
}

h1 {
    font-family: Georgia, serif;
}